.table-ht {
  width: 100%;
}
.table-head-ht {
  background-color: rgb(69, 165, 255);
  position: sticky;
  top: 0;
}

.btn-delete-ht {
  color: red;
  border: 1px dashed red;
  border-radius: 4px;
  background-color: rgb(255, 212, 212);
}
.btn-delete-ht:hover,
.btn-delete-ht:active {
  color: black;
  border: 1px solid red;
  border-radius: 4px;
  background-color: rgb(255, 175, 175);
}

.btn-edit-ht {
  color: rgb(0, 38, 255);
  border: 1px dashed rgb(55, 0, 255);
  border-radius: 4px;
  background-color: rgb(101, 201, 255);
}
.btn-edit-ht:hover,
.btn-edit-ht:active {
  color: black;
  border: 1px solid rgb(25, 0, 255);
  border-radius: 4px;
  background-color: rgb(63, 153, 255);
}
