/* .table-home {
  border: 1px solid green;
} */
.table-head-home {
  background-color: rgb(69, 165, 255);
}
.cellWrapper-home {
  display: flex;
  align-items: center;
}
.image-home {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.status-home {
  padding: 5px;
  border-radius: 5px;
}
.status-home.Checkout {
  color: rgb(128, 0, 0);
  background-color: rgba(205, 76, 1, 0.151);
}
.status-home.Checkin {
  background-color: rgb(151, 255, 181);
  color: rgb(0, 72, 27);
}
.status-home.Booked {
  color: rgb(174, 130, 17);
  background-color: rgba(255, 255, 180, 0.992);
}
